@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
@using Entity.Dtos;
@model List<UsersWtihLocation>

<link href="~/css/site.css" rel="stylesheet" />
<div>
    <a class="btn btn-link" asp-area="" asp-controller="Users" asp-action="AddUser">Add Department</a>
</div>

<div style="overflow-x:auto;">
    <table>
        <tr>
            <th>Id</th>
            <th> Name</th>
            <th>Surname</th>
            <th>Mail</th>
            <th>Phone</th>
            <th>Branch Name</th>
        </tr>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserId</td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@user.Email</td>
                    <td>@user.Phone</td>
                    <td>@user.BranchName</td>
                    <td>
                        <button class="btn-danger" id="btnDelete@(user.UserId)" onclick="deleteUser(btnDelete@(user.UserId))">Delete</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script type="text/javascript">

    function deleteUser(id) {
        var currentRow = $(id).closest("tr");
        var userId = currentRow.find("td:eq(0)").text();

        var user = {
            UserId: userId
        };
        $.ajax({
            url: "/Users/DeleteUser",
            type: "Post",
            data: user,
            success: function () {
                alert("Deleted successful");
            }
        })
        location.reload();
    }
</script>